                                @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
                                body {
                                    font-family: 'Montserrat';
                                    background-color: #131313;
                                    color: #FFFFFF;
                                    margin: 0 auto;
                                    width: 80%;
                                    height: 100%;
                                    background-image: url(/img/Wall.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                                
                                h1 {
                                    margin: 5.6rem 0 2rem 0;
                                    font-size: 30px;
                                    font-weight: 900;
                                }
                                
                                .header {
                                    border-bottom: 1px solid #272727;
                                    width: 100%;
                                    margin: 0 auto;
                                    align-items: center;
                                    display: inline-flex;
                                    justify-content: space-between;
                                }
                                
                                ul {
                                    padding: 0;
                                    margin: 0;
                                }
                                
                                .logo,
                                .id-cart,
                                .navigation,
                                .navigation-item,
                                .left {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    display: inline-flex;
                                    align-items: center;
                                }
                                
                                .navigation {
                                    padding: 1rem 0;
                                }
                                
                                .navigation-item a {
                                    text-decoration: none;
                                    color: #FFFFFF;
                                    font-size: 13px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    padding-left: 1rem;
                                }
                                
                                .navigation-item a:hover {
                                    color: #727272;
                                }
                                
                                .logo img {
                                    display: inline-block;
                                    padding-right: .5rem;
                                    border-right: 1px solid #272727;
                                }
                                
                                .logo {
                                    display: inline-block;
                                    padding: .7rem 0;
                                }
                                
                                .id-cart {
                                    font-size: 16px;
                                    padding: 0 .5rem;
                                }
                                
                                table {
                                    width: 100%;
                                    border-spacing: 0;
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                                
                                tbody {
                                    background-color: #131313;
                                }
                                
                                th {
                                    font-size: 13px;
                                    padding: 0 0 .2rem 1rem;
                                    font-weight: 700;
                                    text-align: left;
                                    text-transform: uppercase;
                                    color: #727272;
                                }
                                
                                td {
                                    border-top: 1px solid;
                                    border-bottom: 1px solid;
                                    padding: 1rem;
                                }
                                
                                td:last-child {
                                    border-right: 1px solid;
                                }
                                
                                td:first-child {
                                    border-left: 1px solid;
                                }
                                
                                .pagination {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                
                                .pagination a {
                                    text-decoration: none;
                                    color: #FFFFFF;
                                }
                                
                                .pagination a:hover {
                                    text-decoration: underline;
                                    color: #727272;
                                }
                                
                                footer {
                                    bottom: 10px;
                                    width: 80%;
                                    position: absolute;
                                }
                                
                                .pagination li {
                                    display: inline-block;
                                    padding: 1.5rem 1rem;
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                                
                                .left-arrow {
                                    background: url(/img/Arrow-right.svg) no-repeat;
                                    background-position: center;
                                    width: 150px;
                                    height: 20px;
                                    transform: rotate(180deg);
                                }
                                
                                .left-arrow:hover {
                                    background: url(/img/Arrow-left.svg) no-repeat;
                                    background-position: center;
                                    width: 150px;
                                    height: 20px;
                                    transform: rotate(0deg);
                                    cursor: pointer;
                                }
                                
                                .right-arrow {
                                    background: url(/img/Arrow-right.svg) no-repeat;
                                    background-position: center;
                                    width: 150px;
                                    height: 20px;
                                }
                                
                                .right-arrow:hover {
                                    background: url(/img/Arrow-left.svg) no-repeat;
                                    background-position: center;
                                    width: 150px;
                                    height: 20px;
                                    transform: rotate(180deg);
                                    cursor: pointer;
                                }
                                
                                .copyright {
                                    width: 100%;
                                    text-align: center;
                                    top: 0%;
                                    position: sticky;
                                }