            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
            body {
                background-color: #201636;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                max-width: 1920px;
                margin: auto;
            }
            /*стилі на першому ерані*/
            
            .wall-1 {
                background-image: url(/img/men-and-flag.png);
                background-repeat: no-repeat;
                background-position: left;
                background-size: 80%;
                margin: 15rem 1rem 0 1rem;
                justify-content: flex-end;
                display: flex;
                padding: 17rem 0 14rem 0;
            }
            
            .wall-1 h2 {
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 6rem;
                text-transform: uppercase;
                margin: 0;
            }
            
            .description-wall-1 {
                width: 35%;
                display: flex;
                flex-direction: column;
                margin-right: 10rem;
            }
            
            .text {
                font-size: 20px;
                font-weight: 400;
                margin: 0;
            }
            
            .text-bg {
                font-size: 15px;
                font-weight: 700;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 50px;
                text-align: center;
                padding: .5rem 4rem;
                margin: 4rem 0 2rem 0;
            }
            
            .start {
                display: flex;
                align-items: center;
                justify-content: space-between
            }
            
            .start p {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
            }
            
            .start a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                padding: 0 2.5rem;
            }
            
            .start button {
                height: 3rem;
                background: #F09F0C;
            }
            /*стилі на другому ерані*/
            
            .wall-2 {
                background-image: url(/img/fon-men.png);
                background-repeat: no-repeat;
                background-position: top;
            }
            
            .info-block {
                display: flex;
                justify-content: center;
                padding-top: 5rem;
            }
            
            .block {
                width: 20%;
                font-size: 16px;
                text-align: center;
                padding: 0 1rem;
            }
            
            .block p {
                margin-top: 2rem;
            }
            
            .block span {
                font-weight: 700;
            }
            
            .wall-3 {
                background-image: url(/img/question-mark.png);
                background-repeat: no-repeat;
            }
            
            .wall-3 h2 {
                text-align: center;
            }
            
            .wall-3 p {
                text-align: center;
            }
            
            .img-list {
                display: flex;
                justify-content: center;
                background-image: url(/img/glow.png);
                background-position: left;
                background-repeat: no-repeat;
            }
            
            .list li {
                font-size: 16px;
                line-height: 2rem;
            }
            
            .img {
                padding-top: 30rem;
                background-image: url(/img/men.png);
                background-repeat: no-repeat;
                background-position: right;
            }
            
            .list {
                list-style: url(/img/Arrow.svg);
            }